<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Item Types</title>

    <link th:href="@{/css/bootstrap.css}" rel="stylesheet">
    <link th:href="@{/css/styles.css}" rel="stylesheet">

    <script type="text/javascript" th:src="@{/js/storescripts.js}"></script>

</head>
<body class="p-5">

<h3>This is admin page and must be secured by Spring Security </h3>
<form action="#" th:action="@{/home}" method="get">
    <input type="submit" value="Return to Shop"/>
</form>
<br>

<form th:action="@{/admin/item/types}" method="get">
    <input type="submit" value="Item types"/>
</form>
<br>

<form action="#" th:action="@{/admin/orders}" method="get">
    <input type="submit" value="Orders"/>
</form>
<hr/>

<h4>Add New Item type</h4>

<form action="#" th:action="@{__${#httpServletRequest.requestURI}__}" th:object="${itemType}" method="post">
    <p>Name: <input type="text" required="required" th:field="*{typeName}"></p>
    <p>Material: <input type="text" required="required" th:field="*{material}"></p>
    <p>Description: <input type="text" required="required" th:field="*{description}"></p>
    <p><input type="submit" value="Submit"/> <input type="reset" value="Reset"></p>
</form>

<hr/>
<h4>Items by types: </h4><br>

<div th:each="itemType:${itemTypeDtos}">
    <form th:action="@{/admin/items/{path}(path=${itemType.id})}" method="get">
        <input type="submit" th:value="${itemType.typeName}"/>
        <input type="submit" th:formaction="@{/admin/item/types/{path}/edit(path=${itemType.id})}" value="Edit"/>
        <input type="submit" th:formaction="@{/admin/item/types/{path}/delete(path=${itemType.id})}" formmethod="post" value="Delete"/>
    </form>
</div>

</body>
</html>