<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Home</title>

    <link th:href="@{/css/bootstrap.css}" rel="stylesheet">
    <link th:href="@{/css/styles.css}" rel="stylesheet">

    <script type="text/javascript" th:src="@{/js/storescripts.js}"></script>

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>

</head>

<body>
<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-1 mr-0 px-3" th:href="@{/}"><span data-feather="home"></span> Online Store</a>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse" data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a class="nav-link" th:href="@{/admin}"><span data-feather="log-in"></span> Admin Dashboard</a>
        </li>
    </ul>
</nav>

<div class="container-fluid">
    <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-1 d-md-block sidebar bg-light collapse">
            <div>
                <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                    <span>Categories</span>

                </h6>
                <ul class="nav flex-column" th:each="itemType:${itemTypeDtos}">
                    <li class="nav-item">
                        <a class="nav-link active" th:href="@{/wares(type=${itemType.id})}" th:text="${itemType.typeName}">
                            <span data-feather="tag"></span>
                        </a>
                </ul>
                <hr/>
                <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                    <span>Tools</span>
                </h6>
                <ul class="nav flex-column mb-2">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/basket}">
                            <span data-feather="shopping-cart"></span>
                            Shopping cart
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="settings"></span>
                            About us
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <main role="main" class="container-fluid mr-sm-auto col-lg-10">
            <div class="jumbotron p-1 p-md-1 rounded bg-light">
                <div class="col-lg-10 px-0">
                    <h1 class="display-4 font-italic">Here will be news feed with important things</h1>
                    <p class="lead my-3">Multiple lines of text that form the lede, informing new readers quickly and efficiently about what’s most interesting in this post’s contents.</p>
                    <p class="lead my-3">Multiple lines of text that form the lede, informing new readers quickly and efficiently about what’s most interesting in this post’s contents.</p>
                    <p class="lead my-3">Multiple lines of text that form the lede, informing new readers quickly and efficiently about what’s most interesting in this post’s contents.</p>
                    <p class="lead my-3">Multiple lines of text that form the lede, informing new readers quickly and efficiently about what’s most interesting in this post’s contents.</p>
                    <p class="lead my-3">Multiple lines of text that form the lede, informing new readers quickly and efficiently about what’s most interesting in this post’s contents.</p>
                    <p class="lead mb-0"><a href="#" class="font-weight-bold">Continue reading...</a></p>
                </div>
            </div>

            <h2> Featured items this week </h2>

            <div class="py-1 bg-light">
                <div class="container-fluid">
                    <div class="row">

                            <div class="col-md-3" th:each="item:${itemDtos}">
                                <h4 th:text="${item.name}"></h4>
                                <div class="card mb-4 shadow-sm">
                                    <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>
                                        Placeholder</title>
                                        <rect width="100%" height="100%" fill="#55595c"/>
                                        <text x="50%" y="50%" fill="#eceeef" dy=".3em">Suppose to be a photo of item, but its gone now</text>
                                    </svg>
                                    <div class="card-body">
                                        <p class="card-text"th:text="${item.description}"></p>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-sm btn-outline-secondary">Show item</button>
                                                <button type="button" class="btn btn-sm btn-outline-secondary"
                                                        th:onclick="'javascript:add_to_basket(' + ${item.id} + ')'">Add to Basket</button>
                                            </div>
                                            <small class="text-muted">9 mins</small>
                                        </div>
                                    </div>
                                </div>
                            </div>

                    </div>
                </div>
            </div>
        </main>

    </div>
</div>

    <script type="text/javascript" th:inline="javascript" th:src="@{https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js}"></script>
    <script type="text/javascript" th:inline="javascript" th:src="@{https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js}"></script>

</body>
</html>


