<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Facebook Manager</title>

    <link rel="stylesheet" th:href="@{/rsc/css/main2.css}"/>

</head>

<body>

<h2>This is a Facebook business page managing helper </h2>

<form action="#" th:action="@{/home}" method="get">

    <input type="submit" value="HOME"/>
</form>

<form action="#" th:action="@{/poster}" method="get">

    <input type="submit" value="Poster"/>
</form>
<form action="#" th:action="@{/renamer}" method="get">

    <input type="submit" value="Renamer"/>
</form>
<form action="#" th:action="@{/faq}" method="get">

    <input type="submit" value="FAQ"/>
</form>

<script type="text/javascript" th:src="@{/rsc/js/scripts3.js}"></script>

</body>
</html>