* {
    /*outline: 1px red solid;*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1vw;
}

body {
    margin: 1px;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

/*Snippet section ==================================================================================================================================*/

snippet {
    outline: 1px #999 solid;
    /*border: 1px #ff0000 solid;*/
    border-radius: 0.8rem;
    overflow: hidden;
    /*background: linear-gradient(to right top,*/
    /*#ff0091, #ec47b7, #d269d4, #b582e5, #9a95ec, #9da3ee, #a3b0ee, #acbced, #c5cbf1, #dadcf5, #eeedfa, #ffffff);*/
}

snippet.small {
    width: calc(100%/6);
    /*height: calc(100vw /6);*/
    aspect-ratio: 1/1;
}

snippet.medium {
    width: calc(100%/3);
    aspect-ratio: 1/1;
}

snippet.big {
    width: calc(100%/2);
    aspect-ratio: 1/1;
}

snippet.long_2 {
    width: calc(100%/3);
    aspect-ratio: 2/1;
}

snippet.long_3 {
    width: calc(100%/2);
    aspect-ratio: 3/1;
}

snippet.tall_2 {
    width: calc(100%/6);
    aspect-ratio: 1/2;
}

snippet.tall_3 {
    width: calc(100%/6);
    aspect-ratio: 1/3;
}

snippet.medium_long {
    width: calc(100%/2);
    aspect-ratio: 2/1;
}

snippet.medium_tall {
    width: calc(100%/3);
    aspect-ratio: 1/1.5;
}

snippet.s-between {
    width: 90%;
    display: block;
    justify-content: space-between;
}

snippet content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /*justify-content: space-around;*/
    /*align-items: center;*/
}

snippet heading {
    /*width: 100%;*/
}

snippet description {
    width: 100%;
    flex-grow: 1;
}

snippet scene {
    width: 100%;
    flex-grow: 2;
    max-height: 100%;
}

snippet.flex,
snippet heading,
snippet description,
snippet scene,
snippet content.flex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/*Custom properties ==================================================================================================================================*/

.bg-black {
    background-color: #000000;
}
.bg-grey {
    background-color: #858585;
}
.bg-red {
    background-color: #ff0000;
}
.bg-green {
    background-color: #2b9b00;
}
.bg-blue {
    background-color: #003ee3;
}
.bg-yellow {
    background-color: #eed800;
}
.fs-smaller {
    font-size: 0.75vw !important;
}
.fs-small {
    font-size: 0.5vw !important;
}
.p-5 {
    padding: 5px;
}




