<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Renamer</title>
</head>
<body>
<h2>this is renamer</h2>

<form action="#" th:action="@{/home}" method="get">

    <input type="submit" value="HOME"/>
</form>
<form action="#" th:action="@{/poster}" method="get">

    <input type="submit" value="Poster"/>
</form>
<form action="#" th:action="@{/renamer}" method="get">

    <input type="submit" value="Renamer"/>
</form>
<form action="#" th:action="@{/faq}" method="get">

    <input type="submit" value="FAQ"/>
</form>

</body>
</html>