* {
    /*outline: 1px red solid;*/
}

/* Snippet ===============================================================================================================================*/

div.circle-rainbow {
    width: 90%;
    aspect-ratio: 1/1;
    background: conic-gradient(
            hsl(360, 100%, 50%),
            hsl(315, 100%, 50%),
            hsl(270, 100%, 50%),
            hsl(225, 100%, 50%),
            hsl(180, 100%, 50%),
            hsl(135, 100%, 50%),
            hsl(90, 100%, 50%),
            hsl(45, 100%, 50%),
            hsl(0, 100%, 50%)
    );
    clip-path: circle(closest-side);
}

/* Snippet ===============================================================================================================================*/

div.blop_1 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.blop_1 > .blob {
    width: 100%;
    animation: rotate-hue 1s alternate infinite;
    animation-delay: 2s;
    animation-timing-function: ease-in-out;
    /*animation-timing-function: linear;*/
}

/*@keyframes rotate-hue {*/
/*    0% {*/
/*        width: 1000px;*/
/*    }*/
/*    100% {*/
/*        filter: hue-rotate(180deg);*/
/*        width: 500px;*/
/*    }*/
/*}*/

@keyframes rotate-hue {
    from {
        width: 100%;
    }
    to {
        filter: hue-rotate(180deg);
        width: 50%;
    }
}


/* Snippet ===============================================================================================================================*/


.icon-wrapper {
    position: relative;
}

.icon-wrapper::after {
    content: attr(data-number);
    width: 55px;
    height: 55px;
    background-color: #d32b2b;
    color: #fff;
    display: grid;
    place-content: center;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    right: 50px;
    opacity: 0;
    transform: translateY(25px);
    z-index: 5;
    font-size: 2.5rem;
}

.icon-wrapper:hover::after {
    opacity: 1;
    transform: translateY(0);
    transition: opacity .25s,
    transform .25s;
}

.bell-icon {
    max-width: 100%;
}

.icon-wrapper:hover .bell-icon {
    animation: shake 1s infinite;
}

@keyframes shake {
    10% {
        transform: rotate(15deg);
    }
    20% {
        transform: rotate(-15deg);
    }
    30% {
        transform: rotate(15deg);
    }
    50% {
        transform: rotate(0deg);
    }
}


/* Snippet ===============================================================================================================================*/

.list {
    list-style: none;
}

.link {
    display: inline-block;
    margin-block: 2px;
    text-decoration: none;
    color: black;
    position: relative;
    font-size: 2rem;
}

.link::after {
    content: '';
    width: 100%;
    height: 5px;
    background-color: red;
    border-radius: 5px;
    position: absolute;
    left: 0;
    bottom: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform .75s ease;
}

.link:hover::after {
    transform: scalex(1);
}
/* Snippet ===============================================================================================================================*/

.video-nat {
    width: 100%;
    height: 100%;
    position: relative;
}
.video-nat video {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
}

.video-nat-title {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    width: 100%;
    height: 100%;
    background-color: black;
    font-size: 2.6rem;
    color: white;
    opacity: 0.82;
    mix-blend-mode: multiply;
    /*mix-blend-mode: screen;*/
    text-align: center;
    line-height: 40vh;
}

/* Snippet ===============================================================================================================================*/

div.battery_animation {
    box-sizing: border-box;
    width: 60%;
    height: 35%;
    border: 5px solid #333;
    border-radius: 15px;
    position: relative;
}

div.battery_animation::before {
    content: '';
    position: absolute;
    height: 50%;
    width: 8%;
    background-color: #333;
    top: 25%;
    left: 100%;
    border-radius: 0 10px 10px 0;
}

div.battery_animation::after {
    content: '';
    position: absolute;
    height: 90%;
    width: 10%;
    top: 5%;
    left: 2%;
    background-color: #ab0000;
    border-radius: 10px;
    animation: battery-load 3s ease-out infinite;
}

@keyframes battery-load {
    50% {
        background-color: #ffcb00;
    }
    85% {
        background-color: #6def20;
    }
    100% {
        background-color: #2df6d7;
        width: 96%;
    }
}

/*@keyframes battery-load {*/
/*    100% {*/
/*        filter: hue-rotate(360deg);*/
/*        width: 96%;*/
/*    }*/
/*}*/

/* Snippet ===============================================================================================================================*/

.ball-wrapper {
    height: 200px;
    position: relative;
}
.ball {
    width: 100px;
    height: 100px;
    background: #c35a14;
    border-radius: 50%;
    border: 2px solid #000;
    background-image:
            radial-gradient(circle at -10px 20px, transparent 47px, #000 50px, #000 25px, transparent 0),
            radial-gradient(circle at 110px 70px, transparent 47px, #000 50px, transparent 0),
            linear-gradient(110deg, transparent 60px, #000 63px, transparent 0),
            linear-gradient(18deg, transparent 56px, #000 60px, transparent 0);
    animation: bounce .5s cubic-bezier(.8, -.5, .2, 1.4) infinite alternate;
}
.shadow {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    bottom: -50px;
    left: 0;
    z-index: -1;
    animation: shadow .5s cubic-bezier(.8,-.5,.2,1.4) infinite alternate;
}
@keyframes bounce {
    100% {
        transform: translate3d(0, 100px, 0)
        scale3d(1.05, 0.95, 1);
    }
}
@keyframes shadow {
    0% {
        transform: rotateX(80deg) scale3d(0.5, 0.5, 1);
        background-color: rgba(0, 0, 0, 0.1);
    }
    100% {
        transform: rotateX(80deg) scale3d(.8, .8, 1);
        background-color: rgba(0, 0, 0, 0.5);
    }
}

/* Snippet ===============================================================================================================================*/

.typing-effect {
    font-size: 2rem;
    height: 2.5rem;
    width: 90%;
    background-color: red;
    animation: typing 2s steps(22), effect .5s step-end infinite alternate ;
    white-space: nowrap ;
    overflow: hidden ;
    box-sizing: border-box;
    border-right: 3px solid;
    text-align: left;
}

@keyframes typing {
    from {
        width: 0;
    }
}

@keyframes effect {
    50% {
        border-right: transparent;
    }
}

/* Snippet ===============================================================================================================================*/

/* Snippet ===============================================================================================================================*/

/* Snippet ===============================================================================================================================*/

/* Snippet ===============================================================================================================================*/

/* Snippet ===============================================================================================================================*/

/* Snippet ===============================================================================================================================*/

/* Snippet ===============================================================================================================================*/

/* Snippet ===============================================================================================================================*/

/* Snippet ===============================================================================================================================*/

/* Snippet ===============================================================================================================================*/

/* Snippet ===============================================================================================================================*/

/* Snippet ===============================================================================================================================*/

/* Snippet ===============================================================================================================================*/



/* Snippet ===============================================================================================================================*/

/* Snippet ===============================================================================================================================*/


/* Snippet ===============================================================================================================================*/

/* Snippet ===============================================================================================================================*/

/* Snippet ===============================================================================================================================*/


/* Snippet ===============================================================================================================================*/


/* Snippet ===============================================================================================================================*/


/* Snippet ===============================================================================================================================*/

/* Snippet ===============================================================================================================================*/


/* Snippet ===============================================================================================================================*/
/* Snippet ===============================================================================================================================*/
/* Snippet ===============================================================================================================================*/
/* Snippet ===============================================================================================================================*/
/* Snippet ===============================================================================================================================*/
/* Snippet ===============================================================================================================================*/
/* Snippet ===============================================================================================================================*/
/* Snippet ===============================================================================================================================*/
/* Snippet ===============================================================================================================================*/
/* Snippet ===============================================================================================================================*/
/* Snippet ===============================================================================================================================*/
/* Snippet ===============================================================================================================================*/
/* Snippet ===============================================================================================================================*/
/* Snippet ===============================================================================================================================*/
/* Snippet ===============================================================================================================================*/
/* Snippet ===============================================================================================================================*/
/* Snippet ===============================================================================================================================*/
/* Snippet ===============================================================================================================================*/
/* Snippet ===============================================================================================================================*/
/* Snippet ===============================================================================================================================*/
/* Snippet ===============================================================================================================================*/
/* Snippet ===============================================================================================================================*/
/* Snippet ===============================================================================================================================*/
/* Snippet ===============================================================================================================================*/
/* Snippet ===============================================================================================================================*/
/* Snippet ===============================================================================================================================*/
/* Snippet ===============================================================================================================================*/
/* Snippet ===============================================================================================================================*/
