@import url('https://fonts.googleapis.com/css2?family=Gideon+Roman&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Gideon Roman', cursive;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(47, 51, 61);
}

.container {
    position: relative;
    width: 1100px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
}

.container .card {
    position: relative;
    max-width: 300px;
    height: 150px;
    background: #fff;
    margin: 30px 10px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0px 10px white;
    transition: 0.3s ease-in-out;
    border-radius: 5px;
}

.container .card:hover {
    height: 320px;
}

.container .card .imgBx {
    position: relative;
    width: 280px;
    height: 185px;
    top: -40px;
    left: 10px;
    z-index: 1;
    box-shadow:0 5px 20px rgb(47, 51, 61);
}

.container .card .imgBx img {
    max-width: 100%;
    border-radius: 4px;
}

.container .card .content {
    position: relative;
    margin-top: -140px;
    text-align: center;
    padding: 10px 15px;
    color: #111;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
}

.container .card:hover .content {
    visibility: visible;
    opacity: 1;
    margin-top: -40px;
    transition-delay: 0.3s;
}