:root {
    --main-color: #484646;
    --grayed-color: #737070;
    --alternative-color: #fcf0b0;

    --font-style: 'Merriweather', serif;
}

/*  Overall =================================================================*/

a {
    text-decoration: none;
}

body {
    color: black;
    font-family: var(--font-style)
}

/*  Header =================================================================*/

#header {
    background: rgba(180, 180, 180, 0.75);
    box-shadow: 0px 0px 25px 0 rgba(0, 0, 0, 0.08);
    z-index: 10;
    padding: 15px 0;
}

#header .logo {
    font-size: 32px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
}

#header .logo a {
    color: var(--main-color);
}

@media (max-width: 992px) {
    #header .logo {
        font-size: 28px;
    }
}

/* Header Social Links =================================================================*/

.header-social-links {
    padding-right: 15px;
}

.header-social-links a {
    color: var(--main-color);
    padding-left: 6px;
    display: inline-block;
    line-height: 0px;
    transition: 0.3s;
    font-size: 16px;
}

.header-social-links a:hover {
    color: var(--alternative-color);
}

/*Navbar =================================================================*/

.navbar {
    padding: 0;
}

.navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
}

.navbar li {
    position: relative;
    padding: 10px 0 10px 28px;
}

.navbar a, .navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 600;
    color: var(--grayed-color);
    white-space: nowrap;
    transition: 0.3s;
    position: relative;
}

.navbar a i, .navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
}

.navbar > ul > li > a:before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: var(--alternative-color);
    visibility: hidden;
    transition: all 0.3s ease-in-out 0s;
}

.navbar a:hover:before, .navbar .active:before {
    visibility: visible;
    width: 25px;
}

.navbar a:hover, .navbar .active {
    color: var(--main-color);
}

.navbar .dropdown ul {
    display: block;
    position: absolute;
    left: 14px;
    top: calc(100% + 30px);
    margin: 0;
    padding: 10px 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
    border-radius: 4px;
}

.navbar .dropdown ul li {
    min-width: 200px;
    padding: 0;
}

.navbar .dropdown ul a {
    padding: 10px 20px;
    font-size: 15px;
    text-transform: none;
    font-weight: 600;
}

.navbar .dropdown ul a i {
    font-size: 12px;
}

.navbar .dropdown ul a:hover, .navbar .dropdown ul .active:hover, .navbar .dropdown ul li:hover > a {
    color: var(--alternative-color);
}

.navbar .dropdown:hover > ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
}

.navbar .dropdown .dropdown ul {
    top: 0;
    left: calc(100% - 30px);
    visibility: hidden;
}

.navbar .dropdown .dropdown:hover > ul {
    opacity: 1;
    top: 0;
    left: 100%;
    visibility: visible;
}

@media (max-width: 1366px) {
    .navbar .dropdown .dropdown ul {
        left: -90%;
    }

    .navbar .dropdown .dropdown:hover > ul {
        left: -100%;
    }
}

/*Landing =================================================================*/

#landing {
    width: 100%;
    height: 100vh;
    background: url("../img/landing-bg.jpg") top left;
    background-size: cover;
}

#landing .container {
    padding-top: 170px;
    position: relative;
    max-width: 80%;
}

@media (max-width: 992px) {
    #hero .container {
        padding-top: 58px;
    }
}

#landing h1 {
    margin: 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    color: var(--main-color);
}

#landing h2 {
    color: var(--grayed-color);
    margin: 10px 0 0 10px;
    font-size: 22px;
}

#landing .btn-about {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 40px;
    border-radius: 50px;
    transition: 0.5s;
    margin-top: 15px;
    color: var(--main-color);
    background: var(--alternative-color);
}

#landing .btn-about:hover {
    box-shadow: 0 0 3px var(--main-color);
}

@media (min-width: 1024px) {
    #landing {
        background-attachment: fixed;
    }
}

@media (max-width: 992px) {
    #landing:before {
        content: "";
        background: rgba(255, 255, 255, 0.8);
        position: absolute;
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
    }

    #landing h1 {
        font-size: 28px;
        line-height: 36px;
    }

    #landing h2 {
        font-size: 18px;
        line-height: 24px;
    }
}


/*Main =================================================================*/

#main {
    margin-top: 50px;
}

@media (max-width: 992px) {
    #main {
        margin-top: 30px;
    }
}

/*Section =================================================================*/

section {
    padding: 60px 0;
}

.section-title {
    text-align: center;
    padding-bottom: 30px;
}

.section-title h2 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 50px;
    position: relative;
}

.section-title h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 100px;
    height: 3px;
    background: var(--alternative-color);
    bottom: 0;
    left: calc(50% - 50px);
}

.section-title p {
    margin-bottom: 0;
}

/*About =================================================================*/
.about .content h3 {
    font-weight: 700;
    font-size: 26px;
    color: #555555;
}

.about .content ul {
    list-style: none;
    padding: 0;
}

.about .content ul li {
    padding-bottom: 10px;
}

.about .content ul i {
    font-size: 20px;
    padding-right: 2px;
    color: var(--alternative-color);
}

.about .content p:last-child {
    margin-bottom: 0;
}

/*Skills =================================================================*/

.skills .progress {
    height: 60px;
    display: block;
    background: none;
    border-radius: 0;
}
.skills .progress .skill {
    padding: 10px 0;
    margin: 0 0 6px 0;
    text-transform: uppercase;
    display: block;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    color: #222222;
}
.skills .progress .skill .val {
    float: right;
    font-style: normal;
}
.skills .progress-bar-wrap {
    background: #f3f3f3;
}
.skills .progress-bar {
    width: 1px;
    height: 10px;
    transition: 0.9s;
    background-color: var(--alternative-color);
}

/*Facts =================================================================*/

.facts .counters span {
    font-size: 48px;
    display: block;
    color: var(--alternative-color);
}
.facts .counters p {
    padding: 0;
    margin: 0 0 20px 0;
    font-family: "Raleway", sans-serif;
    font-size: 14px;
}

/*reviews =================================================================*/

.reviews .section-header {
    margin-bottom: 40px;
}
.reviews .reviews-carousel,
.reviews .reviews-slider {
    overflow: hidden;
}
.reviews .testimonial-item {
    text-align: center;
}
.reviews .testimonial-item .testimonial-img {
    width: 120px;
    border-radius: 50%;
    border: 4px solid #fff;
    margin: 0 auto;
}
.reviews .testimonial-item h3 {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0 5px 0;
    color: #111;
}
.reviews .testimonial-item h4 {
    font-size: 14px;
    color: #999;
    margin: 0 0 15px 0;
}
.reviews .testimonial-item .quote-icon-left,
.reviews .testimonial-item .quote-icon-right {
    color: var(--alternative-color);
    font-size: 26px;
}
.reviews .testimonial-item .quote-icon-left {
    display: inline-block;
    left: -5px;
    position: relative;
}
.reviews .testimonial-item .quote-icon-right {
    display: inline-block;
    right: -5px;
    position: relative;
    top: 10px;
}
.reviews .testimonial-item p {
    font-style: italic;
    margin: 0 auto 15px auto;
}
@media (min-width: 992px) {
    .reviews .testimonial-item p {
        width: 80%;
    }
}
.reviews .swiper-pagination {
    margin-top: 20px;
    position: relative;
}
.reviews .swiper-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #fff;
    opacity: 1;
    border: 1px solid #fce1b0;
}
.reviews .swiper-pagination .swiper-pagination-bullet-active {
    background-color: #fce1b0;
}

/*Mobile Navigation =================================================================*/

.mobile-nav-toggle {
    color: #222222;
    font-size: 28px;
    cursor: pointer;
    display: none;
    line-height: 0;
    transition: 0.5s;
}

.mobile-nav-toggle.bi-x {
    color: #fff;
}

@media (max-width: 991px) {
    .mobile-nav-toggle {
        display: block;
    }

    .navbar ul {
        display: none;
    }
}

.navbar-mobile {
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(9, 9, 9, 0.9);
    transition: 0.3s;
    z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
    position: absolute;
    top: 15px;
    right: 15px;
}

.navbar-mobile ul {
    display: block;
    position: absolute;
    top: 55px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    padding: 10px 0;
    border-radius: 10px;
    background-color: #fff;
    overflow-y: auto;
    transition: 0.3s;
}

.navbar-mobile a, .navbar-mobile a:focus {
    font-size: 15px;
    padding-right: 15px;
    color: #222222;
}

.navbar-mobile a:hover, .navbar-mobile .active, .navbar-mobile li:hover > a {
    color: var(--alternative-color);
}

.navbar-mobile .getstarted, .navbar-mobile .getstarted:focus {
    margin: 15px;
}

.navbar-mobile .dropdown ul {
    position: static;
    display: none;
    margin: 10px 20px;
    padding: 10px 0;
    z-index: 99;
    opacity: 1;
    visibility: visible;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
    min-width: 200px;
}

.navbar-mobile .dropdown ul a {
    padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
    font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover, .navbar-mobile .dropdown ul .active:hover, .navbar-mobile .dropdown ul li:hover > a {
    color: var(--alternative-color);
}

.navbar-mobile .dropdown > .dropdown-active {
    display: block;
}

/* Preloader =================================================================*/

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    overflow: hidden;
    background: #fff;
}

#preloader:before {
    content: "";
    position: fixed;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    border: 6px solid var(--alternative-color);
    border-top-color: var(--main-color);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    -webkit-animation: animate-preloader 1s linear infinite;
    animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes animate-preloader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* Back to top button =================================================================*/

.back-to-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 996;
    background: var(--main-color);
    width: 40px;
    height: 40px;
    border-radius: 50px;
    transition: all 0.4s;
}

.back-to-top i {
    font-size: 24px;
    color: #fff;
    line-height: 0;
}

.back-to-top:hover {
    background: var(--alternative-color);
    color: #fff;
}

.back-to-top.active {
    visibility: visible;
    opacity: 1;
}