:root {
    --main_color: #343434;
}

snippet {
    background-color: var(--main_color);
}


/* Snippet ===============================================================================================================================*/

.spinner {
    position: relative;
    width: 90%;
    height: 90%;
    border-radius: 50%;
}

.spinner::before,
.spinner:after {
    content: "";
    position: absolute;
    border-radius: inherit;
}

.spinner::before {
    width: 100%;
    height: 100%;
    left: 0;
    background: linear-gradient(0deg, #ff00cc 0%, #79cb2d 100%);
    box-shadow: 0px 20px 30px #ff00cc,
     0px -20px 30px #79cb2d;
    animation: spin .5s infinite linear;
}

.spinner::after {
    width: 75%;
    height: 75%;
    background-color: var(--main_color);
    box-shadow: inset 0 0 30px #8e9427;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

/* Snippet ===============================================================================================================================*/

.loader-wrapper {
    width: 100%;
    height: 100%;
}

.loader {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border: 30px solid transparent;
    border-radius: 50%;
    /*animation: rotate 5s linear infinite;*/
    animation: rotate 5s alternate infinite;
}

.loader-outer {
    border-top-color: #01ffd8;
    border-bottom-color: #f500ff;
    box-shadow: 0 10px 50px #f500ff, 0 -10px 50px #01ffd8, 10px 0px 20px #fff, -10px 0px 20px #fff ;
}

.loader-inner {
    border-left-color: #e5ff00;
    border-right-color: #ffa16e;
    box-shadow: 10px 0px 50px #ffa16e, -10px 0px 50px #e5ff00, 0 10px 20px #fff, 0 -10px 20px #fff ;
    animation-duration: 2.5s;
}

/*@keyframes rotate {*/
/*    0% {*/
/*        transform: scale(1) rotate(360deg);*/
/*    }*/
/*    50% {*/
/*        transform: scale(.8) rotate(-360deg);*/
/*    }*/
/*    100% {*/
/*        transform: scale(1) rotate(360deg);*/
/*    }*/
/*}*/

@keyframes rotate {
    0% {
        transform: scale(1) rotate(360deg);
    }
    100% {
        transform: scale(.8) rotate(-360deg);
    }
}


/* Snippet ===============================================================================================================================*/
/* Snippet ===============================================================================================================================*/
/* Snippet ===============================================================================================================================*/
/* Snippet ===============================================================================================================================*/
/* Snippet ===============================================================================================================================*/
/* Snippet ===============================================================================================================================*/
/* Snippet ===============================================================================================================================*/
/* Snippet ===============================================================================================================================*/
/* Snippet ===============================================================================================================================*/
/* Snippet ===============================================================================================================================*/
/* Snippet ===============================================================================================================================*/