.blob {
    animation: rotate-hue 1s alternate infinite;
    animation-delay: 2s;
    animation-timing-function: ease-in-out;
    /*animation-timing-function: linear;*/
}

/*@keyframes rotate-hue {*/
/*    0% {*/
/*        width: 1000px;*/
/*    }*/
/*    100% {*/
/*        filter: hue-rotate(180deg);*/
/*        width: 500px;*/
/*    }*/
/*}*/

@keyframes rotate-hue {
    from {
        width: 1000px;
    }
    to {
        filter: hue-rotate(180deg);
        width: 500px;
    }
}