:root {
    --dark-grey: #9baacf;
    --soft-gray: #e4ebf5;
}
snippet {
    outline: none;
}

snippet.neumorphic-bg {
    background-color: #e4ebf5;
    outline: 1px solid #9baacf;
}

/* Snippet ===============================================================================================================================*/

.simple-neum-1 {
    border-radius: 20px;
    width: 40%;
    height: 40%;
    background: #e4ebf5;
    box-shadow: 0.2rem 0.2rem 0.4rem #c8d0e7, -0.2rem -0.2rem 0.5rem #ffffff;
    transition: 500ms;
}

.morph-1:hover .simple-neum-1 {
    background: #e4ebf5;
    box-shadow: 0 0 0 #cccccc,
    0 0 0 #ffffff,
    0.2rem 0.2rem 0.4rem #c8d0e7 inset,
    -0.2rem -0.2rem 0.5rem #ffffff inset;
}

/* Snippet ===============================================================================================================================*/

.simple-neum-2 {
    border-radius: 20px;
    width: 40%;
    height: 40%;
    background: #e4ebf5;
    transition: 500ms;
    box-shadow: 0 0 0 #cccccc,
    0 0 0 #ffffff,
    5px 5px 10px #cccccc inset,
    -5px -5px 10px #ffffff inset;
}

.morph-2:hover .simple-neum-2 {
    background: #e4ebf5;
    box-shadow: 0.2rem 0.2rem 0.4rem #c8d0e7, -0.2rem -0.2rem 0.5rem #ffffff;
}

/* Snippet ===============================================================================================================================*/

.switch-chbx {
    appearance: none;
    position: relative;
    background: transparent;
    box-shadow: 0.3rem 0.3rem 0.6rem #c8d0e7, -0.2rem -0.2rem 0.5rem #ffffff;
    width: 50%;
    aspect-ratio: 3/1.5;
    margin: 0px;
    border-radius: 25px;
    cursor: pointer;
}

.switch-chbx::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    background: #9baacf;
    opacity: 0;
    transition: all 300ms linear;
}

.switch-chbx::after {
    content: '';
    position: absolute;
    height: 85%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    top: 7.5%;
    left: 3%;
    background: #9baacf;
    transition: all 300ms linear;
}

.switch-chbx:checked:after {
    background: #e4ebf5;
    left: 55%;
    transition: all 300ms linear;
}

.switch-chbx:checked:before {
    opacity: 1;
    transition: all 300ms linear;
}

/* Snippet ===============================================================================================================================*/

.square-chbx {
    appearance: none;
    position: relative;
    width: 30%;
    aspect-ratio: 1/1;
    border-radius: 25%;
    background-image: url("data:image/svg+xml,%3Csvg id='check-mark-square-2' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' class='icon line' %3E%3Cpath id='primary' d='M21 11v9a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V4A1 1 0 0 1 4 3H16' style='fill: none%3B stroke: rgb(155, 170, 207)%3B stroke-linecap: round%3B stroke-linejoin: round%3B stroke-width: 1.5%3B'%3E%3C/path%3E%3Cpolyline id='primary-2' data-name='primary' points='21 5 12 14 8 10' style='fill: none%3B stroke: rgb(155, 170, 207)%3B stroke-linecap: round%3B stroke-linejoin: round%3B stroke-width: 1.5%3B'%3E%3C/polyline%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 70% 70%;
    /*background-color: #9baacf;*/
    background-color: transparent;
    background-position: 50% 50%;
    cursor: pointer;
    box-shadow: 0.2rem 0.2rem 0.4rem #c8d0e7, -0.2rem -0.2rem 0.5rem #ffffff;
}

.square-chbx:checked {
    background-image: url("data:image/svg+xml,%3Csvg id='check-mark-square-2' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' class='icon line' %3E%3Cpath id='primary' d='M21 11v9a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V4A1 1 0 0 1 4 3H16' style='fill: none%3B stroke: rgb(200, 208, 231)%3B stroke-linecap: round%3B stroke-linejoin: round%3B stroke-width: 1.5%3B'%3E%3C/path%3E%3Cpolyline id='primary-2' data-name='primary' points='21 5 12 14 8 10' style='fill: none%3B stroke: rgb(200, 208, 231)%3B stroke-linecap: round%3B stroke-linejoin: round%3B stroke-width: 1.5%3B'%3E%3C/polyline%3E%3C/svg%3E");
    background-color: #9baacf;
}

/* Snippet ===============================================================================================================================*/

.radio-chbx {
    appearance: none;
    cursor: pointer;
    width: 30%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: transparent;
    box-shadow: 0.2rem 0.2rem 0.4rem #c8d0e7, -0.2rem -0.2rem 0.5rem #ffffff;
}

.radio-chbx:checked {
    background-color: #9baacf;
}

/* Snippet ===============================================================================================================================*/

.menu-bars {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    width: 90%;
    height: 19%;
    box-shadow: .3rem .3rem .6rem #c8d0e7, -.2rem -.2rem .5rem #ffffff;
    border-radius: 10px;
    display: flex;
    align-items: center;
    position: relative;
    /*overflow: hidden;*/
}

.menu-bars input {
    appearance: none;
}

.bar-section {
    width: calc(100%/3);
    height: 100%;
    font-size: 1.4rem;
    cursor: pointer;
    position: relative;
}

.bar-section::after {
    content: 'Tab';
    position: absolute;
    color: var(--dark-grey);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.menu-bars .menu-bars-selection {
    position: absolute;
    width: calc(100%/3);
    height: 100%;
    left: 0;
    background-color: transparent;
    border-radius: 10px;
    box-shadow: inset .2rem .2rem .5rem #c8d0e7, inset -.2rem -.2rem .5rem #ffffff;
    transition: all 800ms ease;

}

#menu-bar-1:checked ~ .menu-bars-selection {
    left: 0;
}

#menu-bar-2:checked ~ .menu-bars-selection {
    left: 33.3%;
}

#menu-bar-3:checked ~ .menu-bars-selection {
    left: 66.6%;
}

/* Snippet ===============================================================================================================================*/

.fill-form {
    width: 95%;
    height: 15%;
    border-radius: 10px;
    background: none;
    border: none;
    box-shadow: .15rem  .15rem .4rem #c8d0e7 inset, -.2rem -.2rem .4rem #ffffff inset;
}

.fill-form[type=text] {
    caret-color: red;
    padding-left: 20px;
    font-size: 2rem;
    /*color: var(--dark-grey);*/
}

.fill-form::placeholder {
    color: rgba(155, 170, 207, 0.3);
    padding-left: 2px;
    font-size: 2rem;
}

.fill-form:focus {
    outline: none;
    box-shadow: .15rem  .15rem .4rem #c8d0e7, -.2rem -.2rem .4rem #ffffff;
}

/* Snippet ===============================================================================================================================*/
/* Snippet ===============================================================================================================================*/
/* Snippet ===============================================================================================================================*/
/* Snippet ===============================================================================================================================*/
/* Snippet ===============================================================================================================================*/
/* Snippet ===============================================================================================================================*/
/* Snippet ===============================================================================================================================*/
/* Snippet ===============================================================================================================================*/
/* Snippet ===============================================================================================================================*/
/* Snippet ===============================================================================================================================*/
/* Snippet ===============================================================================================================================*/
/* Snippet ===============================================================================================================================*/
/* Snippet ===============================================================================================================================*/
/* Snippet ===============================================================================================================================*/
/* Snippet ===============================================================================================================================*/
/* Snippet ===============================================================================================================================*/
/* Snippet ===============================================================================================================================*/
/* Snippet ===============================================================================================================================*/
/* Snippet ===============================================================================================================================*/
/* Snippet ===============================================================================================================================*/
/* Snippet ===============================================================================================================================*/
/* Snippet ===============================================================================================================================*/
/* Snippet ===============================================================================================================================*/
/* Snippet ===============================================================================================================================*/
/* Snippet ===============================================================================================================================*/
/* Snippet ===============================================================================================================================*/
/* Snippet ===============================================================================================================================*/
/* Snippet ===============================================================================================================================*/
/* Snippet ===============================================================================================================================*/
/* Snippet ===============================================================================================================================*/
/* Snippet ===============================================================================================================================*/
/* Snippet ===============================================================================================================================*/
/* Snippet ===============================================================================================================================*/
/* Snippet ===============================================================================================================================*/
/* Snippet ===============================================================================================================================*/
/* Snippet ===============================================================================================================================*/
/* Snippet ===============================================================================================================================*/
/* Snippet ===============================================================================================================================*/
/* Snippet ===============================================================================================================================*/


