img {
    margin: 40px;
    padding: 40px;
    border-radius: 10px;
}

img.default {
    box-shadow: #d0d0d0 0 0px 20px;
}

img.clipped {
    filter: drop-shadow(0px 0px 20px #6e6b6b);
}

img.soft {
    background: #f5f5f5;
    box-shadow: 20px 20px 35px #d0d0d0,
    -20px -20px 35px #ffffff;
}

body {
    background: #f5f5f5;

}