@import url('https://fonts.googleapis.com/css2?family=Protest+Revolution&display=swap');

div.s-between{
    width: 90%;
    display: block;
    justify-content: space-between;
}

/* Snippet ===============================================================================================================================*/

.ellipsis_test {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Snippet ===============================================================================================================================*/

.text-div {
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(to right, rgb(0, 0, 0) 10%, white 0%);
    background-position: 0 20px;
    background-size: 10px 1px;
    background-repeat: repeat-x;
}

/* Snippet ===============================================================================================================================*/
div.appearing-text > .title {
    padding: 1rem;
    color: black;
    text-transform: uppercase;
    font-size: 1.5rem;
    line-height: 1.5rem;
}

div.appearing-text .title-content {
    display: block;
    opacity: 0;
    animation: revealText .5s forwards;
}

div.appearing-text .title-second {
    animation-delay: .25s;
}

div.appearing-text .title-third {
    animation-delay: .75s;
}

div.appearing-text .title-fourth {
    animation-delay: 1.25s;
}

@keyframes revealText {
    from {
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: none;
    }
}

/* Snippet ===============================================================================================================================*/

.videoInsert {
    overflow: hidden;
}

/* Snippet ===============================================================================================================================*/

.cubic-bezier-area {
    width: 100%;
}
.cubic-bezier-ball {
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
    background: #FF7A59;
    position: relative;
    left: 0;
    animation: bezier-test 4s infinite cubic-bezier(.5, .8, .1, .95) alternate;
}

@keyframes bezier-test {
    0%   {left: 0;}
    100%  {left: calc(100% - 3vw);}
}

/* Snippet ===============================================================================================================================*/

div.outlined {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 4rem;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px black;
}

/* Snippet ===============================================================================================================================*/

.svg-bg {
    width: 50px;
    height: 50px;
    background-image: url("data:image/svg+xml,%3Csvg id='check-mark-square-2' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' class='icon line' width='48' height='48'%3E%3Cpath id='primary' d='M21 11v9a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V4A1 1 0 0 1 4 3H16' style='fill: none%3B stroke: rgb(255  0  0)%3B stroke-linecap: round%3B stroke-linejoin: round%3B stroke-width: 1.5%3B'%3E%3C/path%3E%3Cpolyline id='primary-2' data-name='primary' points='21 5 12 14 8 10' style='fill: none%3B stroke: rgb(255  0  0)%3B stroke-linecap: round%3B stroke-linejoin: round%3B stroke-width: 1.5%3B'%3E%3C/polyline%3E%3C/svg%3E");
}

.svg-bg-detailed {
    stroke: blue;
}

/* Snippet ===============================================================================================================================*/

.svg-borders {
    width: 70%;
    height: 70%;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='100' ry='100' stroke='%23EC3463' stroke-width='25' stroke-dasharray='calc(100%/2) %2c calc(100%/50)' stroke-dashoffset='0' stroke-linecap='butt'/%3e%3c/svg%3e");
    border-radius: 50%;
}

/* Snippet ===============================================================================================================================*/

@font-face {
    font-family: "Bitstream Vera Serif Bold";
    src: url("https://mdn.github.io/css-examples/web-fonts/VeraSeBd.ttf");
}

.font-faced-text {
    font-size: 4rem;
    font-family: "Bitstream Vera Serif Bold", serif;
}

/* Snippet ===============================================================================================================================*/

.user-selected-div {
    font-size: 1.6rem;
    line-height: 4rem;
}

.user-select-1 {
    user-select: none;
}

.user-select-2 {
    user-select: text;
}

.user-select-3 {
    user-select: all;
}

/* Snippet ===============================================================================================================================*/

div.first-letter-text {
    font-size: 2rem;
}

div.first-letter-text::first-letter {
    color: red;
    font-size: 5rem;
}


/* Snippet ===============================================================================================================================*/

.aligned-right {
    font-size: 1rem;
    width: 95%;
    height: 40%;
    background-color: rgba(5, 185, 48, 0.3);
    text-align: right;
}

.aligned-vertical {
    background-color: rgba(185, 5, 5, 0.3);
    vertical-align: -50px;
}

/* Snippet ===============================================================================================================================*/

.clip-path-ellipse {
    width: 40%;
    aspect-ratio: 1/1;
    background-color: rgba(5, 137, 185, 0.1);
    clip-path: ellipse(90% 40% at 10% 10%);
}

.clip-path-polygon {
    width: 65%;
    aspect-ratio: 1/1;
    background-color: rgba(185, 80, 5, 0.1);
    clip-path: polygon(40% 0, 10% 30%, 40% 70%, 60% 70%, 60% 50%)
}

/* Snippet ===============================================================================================================================*/

.prgrs-bar progress {
    accent-color: rgba(53, 36, 255, 0.9);
    /*background-color: #039603;*/
}

/* Snippet ===============================================================================================================================*/

.masked-text {
    font-size: 5.5rem;
    text-transform: uppercase;
    font-family: "Protest Revolution", sans-serif;
    font-weight: 900;
    font-style: normal;
    background: url(../../zAssets/images/animals/bird.jpeg) 0 0 / cover no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Snippet ===============================================================================================================================*/

#color-display {
    width: 50%;
    height: 50%;
    border: 3px solid black;
    margin: 1rem;
}

/* Snippet ===============================================================================================================================*/


/* Snippet ===============================================================================================================================*/

/* Snippet ===============================================================================================================================*/


/* Snippet ===============================================================================================================================*/


/* Snippet ===============================================================================================================================*/


/* Snippet ===============================================================================================================================*/


/* Snippet ===============================================================================================================================*/


/* Snippet ===============================================================================================================================*/


/* Snippet ===============================================================================================================================*/

/* Snippet ===============================================================================================================================*/


/* Snippet ===============================================================================================================================*/


/* Snippet ===============================================================================================================================*/


/* Snippet ===============================================================================================================================*/


/* Snippet ===============================================================================================================================*/


/* Snippet ===============================================================================================================================*/


/* Snippet ===============================================================================================================================*/

/* Snippet ===============================================================================================================================*/


/* Snippet ===============================================================================================================================*/


/* Snippet ===============================================================================================================================*/


/* Snippet ===============================================================================================================================*/


/* Snippet ===============================================================================================================================*/


/* Snippet ===============================================================================================================================*/


/* Snippet ===============================================================================================================================*/

/* Snippet ===============================================================================================================================*/


/* Snippet ===============================================================================================================================*/


/* Snippet ===============================================================================================================================*/


/* Snippet ===============================================================================================================================*/


/* Snippet ===============================================================================================================================*/


/* Snippet ===============================================================================================================================*/


/* Snippet ===============================================================================================================================*/

/* Snippet ===============================================================================================================================*/


/* Snippet ===============================================================================================================================*/


/* Snippet ===============================================================================================================================*/


/* Snippet ===============================================================================================================================*/


/* Snippet ===============================================================================================================================*/


/* Snippet ===============================================================================================================================*/


/* Snippet ===============================================================================================================================*/

/* Snippet ===============================================================================================================================*/


/* Snippet ===============================================================================================================================*/


/* Snippet ===============================================================================================================================*/


/* Snippet ===============================================================================================================================*/


/* Snippet ===============================================================================================================================*/


/* Snippet ===============================================================================================================================*/


/* Snippet ===============================================================================================================================*/

/* Snippet ===============================================================================================================================*/


/* Snippet ===============================================================================================================================*/


/* Snippet ===============================================================================================================================*/


/* Snippet ===============================================================================================================================*/


/* Snippet ===============================================================================================================================*/



/* Snippet ===============================================================================================================================*/



/* Snippet ===============================================================================================================================*/

/* Snippet ===============================================================================================================================*/



/* Snippet ===============================================================================================================================*/



/* Snippet ===============================================================================================================================*/



/* Snippet ===============================================================================================================================*/



/* Snippet ===============================================================================================================================*/



/* Snippet ===============================================================================================================================*/



/* Snippet ===============================================================================================================================*/
