/*
class="one two three" classes to inject to tag;
.one, .two, .three {} to add same styles to all classes;
priority: #id -> .class -> <tag>;
transition(properties): <property> <duration> <timing-function> <delay>;

*/

/*  Variables =================================================================*/

/*.shadow {*/
/*    position: absolute;*/
/*    top: calc(100vw/3.3);*/
/*    left: 47.5vw;*/
/*    width: 6vw;*/
/*    height: calc(15vw/6);*/
/*    transform: rotate(95deg);*/
/*    background-color: rgba(0, 0, 0, 0.4);*/
/*    filter: blur(10px);*/
/*    border-radius: 60%;*/
/*}*/

:root {
    --main-color: #e9e8e6;
}


/*all tags will be affected*/
* {
    color: red;
    font-size: 30px;
    margin: 10px;
}

h1.priority {
    color: green;
}

h1.priority {
    color: blue;
}

[myattr] {
    color: #ff4400;
}

#myColor {
    background-color: #702afc;
}

/*h3 and h4 will be affected*/
h3 , h4 {
    background-color: #3cc4ff;
}

mytag {
    background-color: green;
}
/*all <div> will be affected */
div {

}

/*tags with id="template" will be affected*/
#template {

}

/*tags with class="behaviour" will be affected*/
.behaviour {

}

/*<div> tags with class="spacing" will be affected*/
div.spacing {
    padding: 20px;
}

/*div with class="one" inside div with class="main" will be affected*/
/*tags must be the same div > div , p > p etc.*/
.main .one {
    font-weight: 900;
}

.two {
    color: green;
}

/*tag <p> inside tag <div> will be affected*/
div p {
    color: blue;
}

/*tag <p> whos is child to <div> will be affected*/
div > p {
    background-color: grey;
}

/*first sibling <p> after <div> will be affected*/
div + p {
    background-color: orange;
}

/*all "siblings" after <div> will be affected*/
div ~ .siblings {
    background-color: #6fffc2;
}

/* unvisited link */
.link_manipulation a:link {
    color: green;
}

/* visited link */
.link_manipulation a:visited {
    color: red;
}

/* mouse over link */
.link_manipulation a:hover {
    color: hotpink;
}

/* selected link */
.link_manipulation a:active {
    color: blue;
}

/*when element is in focus*/
.text-manipulation textarea:focus {
    background-color: orange;
}

div.childs p{
    background-color: white;
}

/*frist child in each tag*/
div.childs p:first-child{
    color: red;
}

/*first line affected*/
p.caps::first-line {
    color: #7bff00;
    font-variant: small-caps;
}
/*add smth before*/
div.bef p::before {
    content: "==========="
}
/*add smth after*/
div.bef p::after {
    content: "+++++++++"
}

div.selected p::selection {
    color: red;
    background: yellow;
}

div.attribute a[target]{
    background-color: yellow;
}

div.attribute_2 a[target=action]{
    background-color: green;
}

/*can be targeted any attribute*/
div.contains a[target~=example]{
    background-color: blue;
}

div.specific input[type="text"] {
    color: white;
    width: 350px;
    display: block;
    margin-bottom: 10px;
    background-color: #fd5f5f;
}

div.specific input[type="button"] {
    color: black;
    width: 300px;
    margin-left: 35px;
    background-color: #7bff00;
    display: block;
}