<html xmlns:th="https://www.thymeleaf.org">
<body>
<h3>File uploader</h3>
<div>
    <form method="POST" enctype="multipart/form-data" action="/files">
        <table>
            <tr>
                <td>File to upload:</td>
                <td><input type="file" name="file"/></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Upload"/></td>
            </tr>
        </table>
    </form>
</div>

<div>
    <ul>
        <div>Stored Files</div>
        <li th:each="file : ${filesFG}">
            <a th:href="${file}" th:text="${file}"/>
        </li>
    </ul>
</div>
<div>
    <ul>
        <div>Logged records</div>
        <li th:each="log : ${loggers}">
            <a th:text="${log.getLogAction()}"/>
        </li>
    </ul>
</div>

</body>
</html>
