* {
    /*outline: 1px red solid;*/
}

body {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
}

div.snippet-area {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100%/6);
    /*height: calc(100vw /6);*/
    aspect-ratio: 1/1;
    border-radius: 20px;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    outline: 1px #999 solid;
    /*background: linear-gradient(to right top,*/
    /*#ff0091, #ec47b7, #d269d4, #b582e5, #9a95ec, #9da3ee, #a3b0ee, #acbced, #c5cbf1, #dadcf5, #eeedfa, #ffffff);*/
}

div.dark {
    background: rgba(0, 0, 0, 0.45);
}

div.s-between{
    width: 90%;
    display: block;
    justify-content: space-between;
}


/* Snippet ===============================================================================================================================*/
.loader-wrapper {
    width: 100%;
    height: 100%;
}

.loader {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border: 30px solid #162534;
    border-top-color: #4bc8eb;
    border-bottom-color: #f13a8f;
    border-radius: 50%;
    /*animation: rotate 5s linear infinite;*/
    animation: rotate 2.5s alternate infinite;
}

.loader-inner {
    border-top-color: #36f372;
    border-bottom-color: #fff;
    animation-duration: 1.25s;
}

/*@keyframes rotate {*/
/*    0% {*/
/*        transform: scale(1) rotate(360deg);*/
/*    }*/
/*    50% {*/
/*        transform: scale(.8) rotate(-360deg);*/
/*    }*/
/*    100% {*/
/*        transform: scale(1) rotate(360deg);*/
/*    }*/
/*}*/

@keyframes rotate {
    0% {
        transform: scale(1) rotate(360deg);
    }
    100% {
        transform: scale(.8) rotate(-360deg);
    }
}

/* Snippet ===============================================================================================================================*/

.spinner {
    position: relative;
    width: 90%;
    height: 90%;
    border-radius: 50%;
}

.spinner::before,
.spinner:after {
    content: "";
    position: absolute;
    border-radius: inherit;
}

.spinner::before {
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, #ff00cc 0%, #333399 100%);
    animation: spin .5s infinite linear;
}

.spinner::after {
    width: 75%;
    height: 75%;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}


/* Snippet ===============================================================================================================================*/

.card {
    width: 100%;
    height: 100%;
    background-color: #333;
    border-radius: 10px;
    outline: 1px solid rgba(255, 255, 255, .5);
    outline-offset: -8px;
    box-shadow: Зрх Зрх 10 рх rgba(0, 0, 0, .1);
    position: relative;
    overflow: hidden;
}

.card-image {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: .6;
    transition: transform .75s;
}

.card:hover .card-image {
    transform: scale(1.15);
}

.card-title {
    position: absolute;
    left: 15px;
    bottom: 15px;
    font-size: 20px;
    text-shadow: 0 0 1px rgba(0, 0, 0, .5);
}

/* Snippet ===============================================================================================================================*/

div.button_1 > .button {
    text-decoration: none;
    font-size: 25px;
    color: green;
    padding: 10px;
    border: 3px solid green;
    position: relative;
}

div.button_1 > .button::before,
div.button_1 > .button::after {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    border: inherit;
    transition: all .5s;
}

div.button_1 > .button::before {
    top: -15px;
    left: -15px;
    border-width: 3px 0 0 3px;
}

div.button_1 > .button::after {
    bottom: -15px;
    right: -15px;
    border-width: 0 3px 3px 0;
}

div.button_1 > .button:hover::before,
div.button_1 > .button:hover::after {
    width: calc(100% + 27px);
    height: calc(100% + 27px);
}

/* Snippet ===============================================================================================================================*/
div.blop_1 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.blop_1 > .blob {
    width: 100%;
    animation: rotate-hue 1s alternate infinite;
    animation-delay: 2s;
    animation-timing-function: ease-in-out;
    /*animation-timing-function: linear;*/
}

/*@keyframes rotate-hue {*/
/*    0% {*/
/*        width: 1000px;*/
/*    }*/
/*    100% {*/
/*        filter: hue-rotate(180deg);*/
/*        width: 500px;*/
/*    }*/
/*}*/

@keyframes rotate-hue {
    from {
        width: 100%;
    }
    to {
        filter: hue-rotate(180deg);
        width: 50%;
    }
}

/* Snippet ===============================================================================================================================*/

.ellipsis_test {
    font-size: 30px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Snippet ===============================================================================================================================*/

.pie-chart {
    width: 340px;
    height: 340px;
    background: conic-gradient(red 0% 30%, blue 30% 65%, green 65% 100%);
    border-radius: 50%;

}

/* Snippet ===============================================================================================================================*/
div.appearing-text > .title {
    padding: 1rem;
    color: black;
    text-transform: uppercase;
    font-size: 1.5rem;
    line-height: 1.5rem;
}

div.appearing-text .title-content {
    display: block;
    opacity: 0;
    animation: revealText .5s forwards;
}

div.appearing-text .title-second {
    animation-delay: .25s;
}

div.appearing-text .title-third {
    animation-delay: .75s;
}

div.appearing-text .title-fourth {
    animation-delay: 1.25s;
}

@keyframes revealText {
    from {
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: none;
    }
}


/* Snippet ===============================================================================================================================*/

.list {
    list-style: none;
    text-align: center;
    font-size: 3rem;
}

.link {
    display: inline-block;
    margin-block: 2px;
    text-decoration: none;
    color: black;
    position: relative;
}

.link::after {
    content: '';
    width: 100%;
    height: 5px;
    background-color: red;
    border-radius: 5px;
    position: absolute;
    left: 0;
    bottom: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform .75s ease;
}

.link:hover::after {
    transform: scalex(1);
}

/* Snippet ===============================================================================================================================*/

.details-test {
    font-size: 2rem;
}

/* Snippet ===============================================================================================================================*/

.icon-wrapper {
    position: relative;
}

.icon-wrapper::after {
    content: attr(data-number);
    width: 55px;
    height: 55px;
    background-color: #d32b2b;
    color: #fff;
    display: grid;
    place-content: center;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    right: 50px;
    opacity: 0;
    transform: translateY(25px);
    z-index: 5;
    font-size: 2.5rem;
}

.icon-wrapper:hover::after {
    opacity: 1;
    transform: translateY(0);
    transition: opacity .25s,
    transform .25s;
}

.bell-icon {
    max-width: 100%;
}

.icon-wrapper:hover .bell-icon {
    animation: shake 1s infinite;
}

@keyframes shake {
    10% {
        transform: rotate(15deg);
    }
    20% {
        transform: rotate(-15deg);
    }
    30% {
        transform: rotate(15deg);
    }
    50% {
        transform: rotate(0deg);
    }
}

/* Snippet ===============================================================================================================================*/

.video-nat {
    width: 100%;
    height: 100%;
    position: relative;
    /*display: flex;*/
    /*align-items: center;*/
    /*justify-content: center;*/
}
.video-nat video {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
}

.video-nat-title {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    width: 100%;
    height: 100%;
    background-color: black;
    font-size: 3rem;
    color: white;
    /*opacity: 0.5;*/
    mix-blend-mode: multiply;
    /*mix-blend-mode: screen;*/
    text-align: center;
    line-height: 50vh;
}

/* Snippet ===============================================================================================================================*/
.text-div {
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(to right, rgb(0, 0, 0) 10%, white 0%);
    background-position: 0 15px;
    background-size: 10px 1px;
    background-repeat: repeat-x;
}

/* Snippet ===============================================================================================================================*/


.glass-card{
    width: 150px;
    height: 200px;
    position: relative;
}
.glass-card-inner{
    width: inherit;
    height: inherit;
    background-color: rgba(255, 255, 255, .05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(10px);
    border-radius: 8px;
}
.circle{
    width: 100px;
    height: 100px;
    background: radial-gradient(#b0e633, #53ef7d);
    border-radius: 50%;
    position: absolute;
    animation: move-up 2s ease-in
    infinite alternate-reverse;
}
.circle:nth-child(1){
    top: -25px;
    left: -25px;
}
.circle:nth-child(2){
    bottom: -25px;
    right: -25px;
    animation-name: move-down;
}

@keyframes move-up{
    to{
        transform: translateY(-10px);
    }
}
@keyframes move-down{
    to{
        transform: translateY(10px);
    }
}

/* Snippet ===============================================================================================================================*/

.ball-wrapper {
    height: 200px;
    position: relative;
}
.ball {
    width: 100px;
    height: 100px;
    background: #c35a14;
    border-radius: 50%;
    border: 2px solid #000;
    background-image:
            radial-gradient(circle at -10px 20px, transparent 47px, #000 50px, #000 25px, transparent 0),
            radial-gradient(circle at 110px 70px, transparent 47px, #000 50px, transparent 0),
            linear-gradient(110deg, transparent 60px, #000 63px, transparent 0),
            linear-gradient(18deg, transparent 56px, #000 60px, transparent 0);
    animation: bounce .5s cubic-bezier(.8, -.5, .2, 1.4) infinite alternate;
}
.shadow {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    bottom: -50px;
    left: 0;
    z-index: -1;
    animation: shadow .5s cubic-bezier(.8,-.5,.2,1.4) infinite alternate;
}
@keyframes bounce {
    100% {
        transform: translate3d(0, 100px, 0)
        scale3d(1.05, 0.95, 1);
    }
}
@keyframes shadow {
    0% {
        transform: rotateX(80deg) scale3d(0.5, 0.5, 1);
        background-color: rgba(0, 0, 0, 0.1);
    }
    100% {
        transform: rotateX(80deg) scale3d(.8, .8, 1);
        background-color: rgba(0, 0, 0, 0.5);
    }
}
/* Snippet ===============================================================================================================================*/
.red_color {
    color: #ff0000;
}

.green_color {
    color: #007c00;
}

.blue_color {
    color: #0000ff;
}

.yellow_color {
    color: #d0d000;
}

:is(.red_color, .blue_color, .green_color, .yellow_color) h1:hover {
    color: #000;
}
/* Snippet ===============================================================================================================================*/
/* Snippet ===============================================================================================================================*/
/* Snippet ===============================================================================================================================*/
/* Snippet ===============================================================================================================================*/
/* Snippet ===============================================================================================================================*/
/* Snippet ===============================================================================================================================*/
/* Snippet ===============================================================================================================================*/
/* Snippet ===============================================================================================================================*/
/* Snippet ===============================================================================================================================*/
/* Snippet ===============================================================================================================================*/
/* Snippet ===============================================================================================================================*/
/* Snippet ===============================================================================================================================*/
/* Snippet ===============================================================================================================================*/
/* Snippet ===============================================================================================================================*/
/* Snippet ===============================================================================================================================*/
/* Snippet ===============================================================================================================================*/
/* Snippet ===============================================================================================================================*/
/* Snippet ===============================================================================================================================*/
/* Snippet ===============================================================================================================================*/
/* Snippet ===============================================================================================================================*/
/* Snippet ===============================================================================================================================*/
/* Snippet ===============================================================================================================================*/
/* Snippet ===============================================================================================================================*/
/* Snippet ===============================================================================================================================*/
/* Snippet ===============================================================================================================================*/
/* Snippet ===============================================================================================================================*/
/* Snippet ===============================================================================================================================*/
/* Snippet ===============================================================================================================================*/
/* Snippet ===============================================================================================================================*/
/* Snippet ===============================================================================================================================*/
